:root{
    --favorito: #E3275F;
    --alerta: #FF621F;

    /* Colores */
    --azul-50: #D0DFE2;
    --azul-100: #A1C0C5;
    --azul-200: #73A0A7;
    --azul-400: #15616D; /*Color principal*/
    --azul-500: #11525E;
    --azul-600: #0D4350;
    --azul-700: #083341;

    /* Escala de grises */
    --gris-0: #FFFFFF;
    --gris-50: #DDE1E1;
    --gris-100: #BBC3C4;
    --gris-200: #98A5A6;
    --gris-300: #768789;
    --gris-400: #54696B;
    --gris-500: #43585D;
    --gris-600: #32474F;
    --gris-700: #223740;
    --gris-800: #112632;
    --gris-900: #001524;

    /* Tamaños de letra */
    --sm: 12px;
    --rg: 16px;
    --xl: 24px;
    --xxl: 32px;
}


body {
    margin: 0;
    font-family: SF Pro Text;
}

/* Primer Div: Logo*/
.login-container { 
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 48px 20px;
    box-sizing: border-box;
    font-size: var(--rg);
}

.logo-container * {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
}


.title {
    color: var(--azul-400);
}

/* Segundo Div: Login */
.form-container {
    display: grid;
    grid-template-columns: auto;
    width: 350px;
}

.input-group {
    position: relative;
    margin-bottom: 20px ;
}

.input-group input {
    width: 88%; 
    height: 50px;
    padding: 0px 0px 0px 40px;
    border: 1px solid var(--gris-100);
    border-radius: 12px;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.input-group input:focus {
    border-color: var(--azul-400);
    box-shadow: 0 0 8px rgba(21, 97, 109, 0.6);
    outline: none;

}

#userName, #name, #lastName {
    background: url(../images/icons/userIcon.svg) no-repeat 10px center;

}


#password {
    background: url(../images/icons/passwordIcon.svg) no-repeat 10px center;
}

#email {
    background: url(../images/icons/arrova.svg) no-repeat 10px center;
}


/* Botones */

.buttons {
    padding: 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.buttons * {
    color: var(--gris-0);
    border-radius: 50px;
    border: none;
    height: 43px;
    font-family: Rubik;
    font-size: var(--rg);

}

.buttons .logInButton, .signUpButton-register {
    background-color: var(--azul-400);
}

.buttons .signUpButton {
    background-color: var(--azul-200);
}

/* Tercer Div: foot container */
.footPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--sm);
}

 
